<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <title>MedMinder - Helping you and the people you care for remember to take your medication</title>

    <link href='//fonts.googleapis.com/css?family=Merriweather:300,400,700' rel='stylesheet' type='text/css' />

        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/static/css/normalize.css" rel="stylesheet" media="screen" />
    <link href="/static/css/main.css" rel="stylesheet" media="screen" />

    {% block extra_head %}
    {% endblock %}

    <script type="text/javascript" src="./static/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="./static/js/main.js"></script>
    <script type="text/javascript" src="./static/js/jquery.cookie.js"></script>
</head>

<body>
    {% block body %}

    <header class="site_header">
        <div class="container">
            <h2>MedMinder</h2>
        </div>
    </header>


    <div id="content">
    {% block content %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    </div>


    {% endblock body %}

</body>
</html>
