{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div class="row">
  <br/><br/>
  <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
  <div class="well">
    <h1>{% trans "Sign In" %}</h1>

    <form id="loginForm" method="POST" action="{% url 'login' %}" novalidate="novalidate">
      {% csrf_token %}
      <div class="form-group">
        <label for="username" class="control-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="Username">
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password" placeholder="Password">
        <span class="help-block"></span>
      </div>
      <div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
      <div class="checkbox">
        <label>
            <input type="checkbox" name="remember" id="remember"> Remember login
        </label>
        <p class="help-block">(if this is a private computer)</p>
      </div>
      <button type="submit" class="btn btn-success btn-block">Login</button>
      <a href="/forgot/" class="btn btn-default btn-block">Help to login</a>
    </form>
  </div>
 </div>
</div>

{% endblock %}
