{% extends "base/base.html" %}

{% block title %}Confirm logout &mdash; {{ block.super }}{% endblock %}

{% block breadcrumbs_header %}
  <h4>Confirm logout</h4>
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>Logout</li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form method="POST" action="">
      {% csrf_token %}
      <button class="btn btn-lg btn-block" type="submit">Confirm logout</button>
    </form>
  </div>
</div>

<div class="divide60"></div>

{% endblock %}
