{% extends "base/base.html" %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript">
    var post_url = "/api/reminders/";
  </script>
{% endblock %}

{% block content %}
<div id="content">
    <header class="content_header">

        <h1>Set up a new medication reminder</h1>
        <p>Fill out the form below to set up a new telephone reminder for you or someone you care for</p>

    </header>

    <div class="container">

        <form action="" method="post" id="reminder-setup" name="reminder-setup">

            <label for="frequency">How many times a day should we send reminders?</label>

            <select id="frequency" name="frequency">
                <option value="0" selected> Please select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <div id="reminder-schedule" class="box-sizing-border">

                <p class="label">The reminders will be sent at the following times (feel free to change them):</p>

                <ol>
                    <li id="reminder_template" class="reminder-time">
                        <select name="time_1">
                            <option value="5:00">5:00</option>
                            <option value="6:00">6:00</option>
                            <option value="7:00">7:00</option>
                            <option value="8:00">8:00</option>
                            <option value="9:00">9:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                            <option value="23:00">23:00</option>
                            <option value="0:00">0:00</option>
                        </select>
                    </li>
                </ol>

            </div>

            <label for="phone_number">What phone number should we send them to?</label>
            <input type="number" name="phone_number" id="phone_number" value="" class="box-sizing-border" required />

            <div id="message-selector">

                <p class="label">What type of message do you want to send?</p>

                <label for="message-type-text" class="box-sizing-border">
                    <input type="radio" name="message_type" id="message-type-text" data-element="text-definition" value="text" class="radio-selector" />
                    Text
                </label>

                <label for="message-type-voice" class="box-sizing-border">
                    <input type="radio" name="message_type" id="message-type-voice" data-element="audio-selection" value="voice" class="radio-selector" />
                    Voice
                </label>

            </div>

            <div id="text-definition" class="message-type">
                <label for="message">What's your message?</label>
                <textarea name="message" id="message" value="" class="box-sizing-border"></textarea>
            </div>

            <div id="audio-selection" class="message-type">
                <label for="audio_url">Which voice message do you want to send?</label>
                <select id="audio_url" name="audio_url">
                    <option value selected></option>
                    <option value="{{ settings.SITE_URL }}{% static "mp3/hi_mum_medication_reminder.mp3" %}">Mum's medication reminder!</option>
                    <option value="{{ settings.SITE_URL }}{% static "mp3/its_fiona_mouthwash_reminder.mp3" %}">Dental Hygienist</option>
                </select>
            </div>

            <input value="Create this reminder" name="submit" type="submit" class="submit" />

        </form>

    </div>

</div>

<div class="success-message">
    <p><strong>Thanks!</strong> Your reminders have been successfully set up.</p>
</div>

{% endblock %}
