{% extends "base/base.html" %}

{% block title %}About Us &mdash; {{ block.super }}{% endblock %}

{% block breadcrumbs_header %}
  <h4>About Us</h4>
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>About Us</li>
{% endblock %}

{% block navbar_active_about %}active{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 margin20">
      <h3 class="heading">A little about us</h3>
      <p>
        Take Your Meds provides a straightforward telephone reminder service that can be fully customised to help with any schedule or type of medication. You can arrange reminders for yourself, or on behalf of someone you care about, or even both.
      </p>
      <p>
        Take Your Meds is simple to set up, and you could
        start receiving your reminder phonecalls within minutes.
      </p>
      <p>For the moment, Take Your Meds is 100% free to use, so why not get started with your first reminder today.</p>

      <p>
        <p class="text-center">
         <a href="{% url "reminders:create:view" %}" class="btn btn-theme-bg btn-lg">Set up a reminder now</a>
        </p>
      </p>
    </div>
    <div class="col-md-6">
      <img src="{% static "img/vitamins-1418400.jpg" %}" class="img-responsive" alt="">
    </div>
  </div>

  <div class="divide60"></div>

  <div class="row">
    <div class="col-md-8 margin20">
      <h3 class="heading">Rationale</h3>
      <blockquote>
        <p>
          “...Increasing the effectiveness of adherence to interventions may have a
          far greater impact on the heath of the population than any improvement
          in specific medical treatments...”
        </p>
        <cite>— WHO, 2013</cite>
      </blockquote>
    </div>
    <div class="col-md-4">
      <img src="{% static "img/stethoscope-2-1161261.jpg" %}" class="img-responsive" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 margin20">
      <p>
        Among patients with chronic illness, NICE estimate that 30-50% do not take medication as prescribed. This is a particular problem for conditions such as asthma, diabetes, hypertension and depression, which are amongst the most prevalent medical conditions, particularly in older people. Not only is it potentially dangerous for a patient to use medication incorrectly, but the associated costs to the NHS including unnecessary hospital admissions is estimated at £4.0 billion per year.
      </p>
      <p>
        A large part of the problem is simple forgetfulness. Again, memory
        problems disproportionately affect the elderly, who are likely to be on more concurrent medications in the first place, making adherence to a medication regimen even more difficult. It is estimated that the incidence of Alzheimer's disease (the most common form of dementia) is 10% in those over 65y, 20% in those over 75y and a huge 33% in those over 85y.
      </p>
      <p>
        Several useful smartphone apps exist to help patients remember to take their medication. However, while Ofcom etimate that about 88% of 16-24 year olds use smartphones, this number drops to 14% for those over 65 years old.  On the other hand, 80% of people over 65 years old report that their preferred method of distance communication is the telephone.
      </p>
      <p>
        Enter Take Your Meds, designed primarily with
        non-smartphone-users in mind. The main aim to improve medication
        convenience and safety, which will help prevent avoidable hospital
        admissions.
      </p>
      <p>
        At an appropriate time, a user will receive a phonecall playing a
        recorded message, or receive a text message. The user can then use their telephone keypad (or reply to the message) to indicate that they have taken the medication, or wish to speak to a family member or friend for help. All parameters of the reminders, such
        as the message itself, the desired times for calls and the action to be taken if the patient cannot be reached, can be set up to suit each person.
      </p>
    </div>
  </div>

  <div class="divide60"></div>

  <div class="row">
    <div class="col-md-6">
      <h3 class="heading">Team and Project</h3>

      <p>
        The Take Your Meds project was born at <a
        href="http://www.nhshackday.com/">NHS Hack Day</a> 10 in London in
        2015, and has since continued to be developed by a small team.
      </p>
      <p>
        <strong>Take Your Meds Ltd</strong> was set up in July 2015 by Helen
        Jackson (<a href="https://twitter.com/DeckOfPandas">@DeckOfPandas</a>)
        and Marcus Baw (<a href="https://twitter.com/marcus_baw">@marcus_baw</a>).
      </p>

      <p>
        The code base is fully Open Source, and is available on <a
        href="http://www.github.com/takeyourmeds">GitHub</a>; forks and
        contributions are very welcome, but please get in touch with us first so we can keep track of the project.
      </p>

      <p>
        Do get in touch with us at <a href="mailto:{{ settings.DEFAULT_FROM_EMAIL_MAILTO }}">{{ settings.DEFAULT_FROM_EMAIL_MAILTO }}</a>, or talk to Take Your Meds (<a href="http://www.twitter.com/DeckOfPandas">@takeyourmedsapp</a>), Helen (
        <a href="http://www.twitter.com/DeckOfPandas">@DeckOfPandas</a>) or Marcus (<a
        href="http://www.twitter.com/DeckOfPandas">@marcus_baw</a>) on Twitter.
      </p>
    </div>

    <div class="col-md-6 margin20">
      <h3 class="heading">Credits</h3>

      <p>
        Pill image created by <a
        href="https://thenounproject.com/misterabrams/">Josh Abrams</a>, from
        the <a href="http://thenounproject.com">Noun Project</a>.
      </p>

      <p>
        Clock image found on Flickr from <a
        href="https://www.flickr.com/photos/alancleaver/4293345631/in/photolist-7xow5x-8xzR9V-7xow5v-4Q3jCh-7bgqZD-8mCjMd-oMbqQc-65wcpH-7GEGFD-65RtFi-666Dfo-oeBHwh-5SqLF2-4s1zn3-8JQ3iD-8cfs7u-gRv4y-9x68cm-666Cib-nvBRCq-7jB16i-5Wsgbs-9BmtYf-73A2A6-7jB14B-5VgMJK-6cpjVG-7nAsLt-xSgTX-ox3SvS-6qp1Fq-4EeRCh-bqpA4N-hDKXDH-e1gXG-9b46PL-a4gnBr-7eAHML-hZXooF-DSGGK-deihjs-aFK6D2-gRv4A-6rSwJb-rUvRgc-97wZ8v-dhzhsu-99qQ3G-ayNs2L-6H2V56">Alan
        Cleaver</a>.
      </p>
    </div>
  </div>

  <div class="divide60"></div>

  <div class="row">
    <div class="col-md-3 margin20">
      <div class="team-wrap">
        <img src="{% static "img/team/1.jpg" %}" class="img-responsive" alt="">
        <h4>Jolly Smith</h4>
        <span>Web Designer</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
        </p>
        <ul class="list-inline">
          <li>
            <a href="https://twitter.com/foo" class="social-icon-sm si-border si-twitter">
              <i class="fa fa-twitter"></i>
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 margin20">
      <div class="team-wrap">
        <img src="{% static "img/team/1.jpg" %}" class="img-responsive" alt="">
        <h4>Jolly Smith</h4>
        <span>Web Designer</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
        </p>
        <ul class="list-inline">
          <li>
            <a href="https://twitter.com/foo" class="social-icon-sm si-border si-twitter">
              <i class="fa fa-twitter"></i>
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 margin20">
      <div class="team-wrap">
        <img src="{% static "img/team/1.jpg" %}" class="img-responsive" alt="">
        <h4>Jolly Smith</h4>
        <span>Web Designer</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
        </p>
        <ul class="list-inline">
          <li>
            <a href="https://twitter.com/foo" class="social-icon-sm si-border si-twitter">
              <i class="fa fa-twitter"></i>
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 margin20">
      <div class="team-wrap">
        <img src="{% static "img/team/1.jpg" %}" class="img-responsive" alt="">
        <h4>Jolly Smith</h4>
        <span>Web Designer</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
        </p>
        <ul class="list-inline">
          <li>
            <a href="https://twitter.com/foo" class="social-icon-sm si-border si-twitter">
              <i class="fa fa-twitter"></i>
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock%}
