{% extends "base/base.html" %}

{% block extra_js %}
{% endblock %}

{% block bodyclass %}about{% endblock %}

{% block content %}
<div id="content">

	<header class="content_header">
		<h1>About</h1>
	</header>

	<div class="container">
		<p><strong>Take Your Meds</strong> provides a straightforward low-cost telephone reminder service that can be fully customised to help with any schedule of medication. You can arrange reminders for yourself, or set up <strong>Take Your Meds</strong> on behalf of someone you care about.</p>
		<p><strong>Take Your Meds</strong> is simple to set up, and you could start receiving your reminder phonecalls within minutes.</p>
		<p>Click <a href="reminder/new">here</a> to get started now.</p>
		<br>

		<h3>Rationale</h3>
		<blockquote>
			<p>“...Increasing the effectiveness of adherence interventions may have a far greater impact on the heath of the population than any improvement in specific medical treatments...”</p>
			<cite>— WHO, 2013</cite>
		</blockquote>
		<br>

		<p>Among patients with chronic illness, NICE estimate that 30%-50% do not take medication as prescribed. This is a particular problem for conditions such as asthma, diabetes, hypertension and depression, which are amongst the most prevalent medical conditions, particularly in older people. Not only is this potentially dangerous for a patient, but the associated costs including unnecessary hospital admissions is estimated at £4.0 billion per year.</p>
		<p>A large part of the problem is simple forgetfulness. Again, memory problems disproportionately affect the elderly, who are likely to be on more concurrent medications in the first place, making adherence to a prescription schedule even more difficult. It is estimated that the incidence of Alzheimer's disease (the most common form of dementia) is 10% in those over 65y, 20% in those over 75y and a huge 33% in those over 85y.</p>
		<p>Several useful smartphone apps exist to help patients remember to take their medication. However, while Ofcom etimate that about 88% of 16-24 year olds use smartphones, this number drops to 14% for those over 65 years old. On the other hand, 80% of people over 65 years old report that their preferred method of distance communication is the telephone.</p>
		<p>Enter <strong>Take Your Meds</strong>, designed primarily with non-smartphone-users in mind. The main aim to improve medication convenience safety, which will help prevent avoidable hospital admissions.</p>
		<p>At an appropriate time, a user will receive a phonecall playing a recorded message. The user can then use their telephone keypad to indicate that they have taken the medication, or wish to speak to a family member or friend for help. All parameters of the reminders, such as the recorded message, the desired times for calls and the action to be taken if the patient cannot be reached, can be set up to suit the individual.</p>
		<p><strong>Take Your Meds</strong>: simple medication reminders over the phone for you and yours.</p>	
		<p>Click <a href="reminder/new">here</a> to get started now.</p>
		<br>

		<h3>Team and Project</h3>
		<p>The <strong>Take Your Meds</strong> project was born at <a href="http://www.nhshackday.com/">NHS Hack Day</a> 10 in London in 2015, and has since continued to be developed by a small team.</p>
		<p><strong>Take Your Meds Ltd</strong> was set up in July 2015 by Helen Jackson (<a href="https://twitter.com/DeckOfPandas">@DeckOfPandas</a>) and Marcus Baw (<a href="https://twitter.com/marcus_baw">@marcus_baw</a>).</p>
		<p>The source code is fully Open Source, and is available on <a href="http://www.github.com/takeyourmeds">GitHub</a>; forks and contributions are very welcome, but please get in touch with us first so we can keep track of where we are.</p>
		<p>Comments, questions and complaints to hello@takeyourmeds.co.uk, or ping <a href="http://www.twitter.com/DeckOfPandas">@DeckOfPandas</a> or <a href="http://www.twitter.com/DeckOfPandas">@marcus_baw</a> on Twitter.<p>
		<br>		

		<h3>Credits</h3>
		<p>Pill image created by <a href="https://thenounproject.com/misterabrams/">Josh Abrams</a>, from the <a href="http://thenounproject.com">Noun Project</a>.</p>	
		<p>Clock image found on Flickr from <a href="https://www.flickr.com/photos/alancleaver/4293345631/in/photolist-7xow5x-8xzR9V-7xow5v-4Q3jCh-7bgqZD-8mCjMd-oMbqQc-65wcpH-7GEGFD-65RtFi-666Dfo-oeBHwh-5SqLF2-4s1zn3-8JQ3iD-8cfs7u-gRv4y-9x68cm-666Cib-nvBRCq-7jB16i-5Wsgbs-9BmtYf-73A2A6-7jB14B-5VgMJK-6cpjVG-7nAsLt-xSgTX-ox3SvS-6qp1Fq-4EeRCh-bqpA4N-hDKXDH-e1gXG-9b46PL-a4gnBr-7eAHML-hZXooF-DSGGK-deihjs-aFK6D2-gRv4A-6rSwJb-rUvRgc-97wZ8v-dhzhsu-99qQ3G-ayNs2L-6H2V56">Alan Cleaver</a>.</p>

	</div>

</div>

{% endblock%}
