{% extends "base/base.html" %}

{% block extra_js %}
{% endblock %}

{%block bodyclass%}home{%endblock%}

{% block content %}
<div id="hero">

	<div class="container box-sizing-border clearfix">
		<h1>Simple medication reminders <br />over the phone for you and yours</h1>
		<a href="/reminder/new" class="submit">Set up a reminder now</a>
	</div>

</div>

<div id="introduction">
	<div class="container">
		<p><strong>Take Your Meds</strong> is a telephone service to help you remember to take your medication. It's easy to set up, and you can start receiving your reminder phonecalls today.</p>
	</div>
</div>

<div id="content">
	<div class="container clearfix">

		<div class="selling-point left">
			<h3>Customisable schedule</h3>
			<p>Tell us what you need to be reminded about and when and <strong>let us do the work for you</strong>.</p>
		</div>

		<div class="selling-point right">
			<h3>Record your own message</h3>
			<p>Or have a family member do it for you. Or if you prefer, you can use one of our <strong>built-in messages</strong>.</p>
		</div>

		<div class="selling-point left">
			<h3>Flexible pricing</h3>
			<p>Whether you need 1 or 100 reminders a day, we have <strong>the right low-cost option</strong> for you</p>
		</div>

	</div>
</div>

{% endblock%}
