{% extends "base/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block body_id %}boxed{% endblock %}
{% block body_classes %}boxed-wrapper{% endblock %}

{% block navbar_active_home %}active{% endblock %}

{% block breadcrumbs_wrapper %}{% endblock %}

{% block body %}
<div class="boxed-wrapper">
  {{ block.super }}
</div>
{% endblock %}

{% block css %}
{{ block.super }}
<link href="{% static "rs-plugin/css/settings.css" %}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{% static "css/rev-style.css" %}" rel="stylesheet" type="text/css" media="screen"/>
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static "rs-plugin/js/jquery.themepunch.tools.min.js" %}" type="text/javascript"></script>
<script src="{% static "rs-plugin/js/jquery.themepunch.revolution.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/revolution-custom.js" %}" type="text/javascript"></script>
{% endblock %}

{% block container %}

<div class="tp-banner-container">
  <div class="tp-banner-boxed">
    <ul>
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
        <img
          src="{% static "img/planning-my-week-1326816.jpg" %}"
          alt="darkblurbg"
          data-bgfit="cover"
          data-bgposition="left top"
          data-bgrepeat="no-repeat"
        >
        <div
          class="caption sfb bold uppercase-title text-center"
          data-x="center"
          data-y="130"
          data-speed="900"
          data-start="800"
          data-easing="Sine.easeOut"
        >
          Simple medication reminders
          <br><br>
          for you and yours
        </div>

        <div
          class="caption sfb lowercase-caption text-center"
          data-x="center"
          data-y="240"
          data-speed="900"
          data-start="1500"
          data-easing="Sine.easeOut"
        >
          Take Your Meds is a telephone service to help you remember to take your medication.
          <br><br>
          It's easy to set up, and you can start receiving your reminder
          phonecalls today.
        </div>
        <div
          class="caption rev-buttons tp-resizeme sfb"
          data-x="center"
          data-y="350"
          data-speed="900"
          data-start="2200"
          data-easing="Sine.easeOut"
        >
          <a href="{% url "reminders:create" %}" class="btn btn-theme-bg btn-lg">Set up a reminder now</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<section class="services-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center-heading">
          <h2>What We Offer</h2>
          <span class="center-line"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 margin20">
        <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
          <div class="services-box-icon">
            <i class="fa fa-calendar"></i>
          </div><!--services icon-->
          <div class="services-box-info">
            <h4>Customisable schedule</h4>
            <p>
              Tell us when you need your reminders and
              let us do the work for you. Whether you need 1 or 100 reminders a day, we can help.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 margin20">
        <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="200ms">
          <div class="services-box-icon">
            <i class="fa fa-edit"></i>
          </div>
          <div class="services-box-info">
            <h4>Record your own message</h4>
            <p>
             Add your own reminder message, or you could ask a family member to record one for you. You can also write a custom text message if that's what you'd prefer.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 margin20">
        <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
          <div class="services-box-icon">
            <i class="fa fa-male"></i>
          </div>
          <div class="services-box-info">
            <h4>Person-centred monitoring</h4>
            <p>
              Keep track of your reminders and if they are acknowledged, so you can easily see how medication is being taken.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="divide40"></div>

<p class="text-center">
  <a href="{% url "reminders:create" %}" class="btn btn-theme-bg btn-lg">Set up a reminder now</a>
</p>

<div class="divide40"></div>

<div class="wide-img-showcase">

            <div class="row margin-0 wide-img-showcase-row">
                <div class="col-sm-6 no-padding  medical-06 ">
                    <div class="no-padding-inner ">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-6 no-padding gray">
                    <div class="no-padding-inner gray">
                        <h3 class="wow animated fadeInDownfadeInRight">Why use <span class="colored-text">Take Your Meds</span>?</h3>
                        <div class="services-box margin30 wow animated fadeInRight">
                            <div class="services-box-icon">
                                <i class="fa fa-tablet"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Taking medication is hard</h4>
                                <p>
                                    Even remembering to take one pill in the morning can be difficult, but add in another pill three times a day and another one at bedtime and things soon get very complicated.
                                </p>
                            </div>
                        </div><!--service box-->
                        <div class="services-box margin30 wow animated fadeInRight">
                            <div class="services-box-icon">
                                <i class="fa fa-twitter"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Not all medications are tablets</h4>
                                <p>
                                    If you need to use a particular mouthwash, apply a cream, replace a patch or use anything that isn't a tablet then classic pill-helper boxes can't help.
                                </p>
                            </div>
                        </div><!--service box-->

                        <div class="services-box margin30 wow animated fadeInRight">
                            <div class="services-box-icon">
                                <i class="fa fa-code"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>Not everyone uses a smartphone</h4>
                                <p>
                                    All you need in order to use Take Your Meds is a phone number, whether a landline or a mobile. You can receive phonecalls or text messages as you prefer.
                                </p>
                            </div>
                            <div class="divide30"></div>
                            <p class="text-center">
                              <a href="{% url "reminders:create" %}" class="btn btn-theme-bg btn-lg">Set up a reminder now</a>
                            </p>
                        </div><!--service box-->

                    </div>
                </div>
            </div>
        </div><!--wide image showcase end-->

<div class="divide40"></div>


{% endblock%}
