{% extends "base/base.html" %}

{% block extra_js %}
{% endblock %}


{% block bodyclass %}privacy-policy{% endblock %}

{% block content %}
<div id="content">

	<header class="content_header">
		<h1>Privacy Policy</h1>
	</header>

	<div class="container">

		<p>We want to be clear about what information you give us and how we use it, to make sure you're totally in control of your data at all times.</p>
		<br>

		<h3>Information we collect from you and why</h3>
		<p>We collect certain information or data about you when you use Take your Meds. This includes:</p>
			<ul>
				<li>Your email address and phone number so you can sign up for Take Your Meds 
				<li>The phone number of the recipient for Take Your Meds reminders (if you set up Take Your Meds for someone else) so we can send them your reminders
				<li>Details of how often you send reminders and to what phone numbers so we know what you want us to do
				<li>Contents of any messages you send the Take Your Meds team, or any feedback you leave us, so we can respond if you ask us to
				<li>Your IP address and details of the web browser you're using, plus information on how you use the site to help us make improvements
			</ul>
		<p>We can not and will not try to identify you personally using any of this information.</p>
		<p>We promise never to share your information with any other organisations for any reason whatsoever (to the extent permitted by law), including but not limited to for marketing, market research or other commercial purposes.</p>
		<p>You can delete your account and ask us to delete all your data at any time by emailing us: hello@takeyourmeds.co.uk</p>
		<br>

		<h3>Where your data is stored</h3>
		<p>We store your data on our secure servers in the UK. By submitting your personal data, you agree to this.</p>
		<p>We cannot guarantee the security of any data as you transmit it over the internet, and any data transmission is done at your own risk.</p>
		<p>We have security features in place to try and keep your data secure once we receive it.
		<p>Payment transactions are always encrypted. Please see details provided Stripe, our payment gateway service provider, for more information.</p>
		<br>

		<h3>When you will hear from us</h3>
		<p>You will only hear from us when we need to contact you about your account or the Take Your Meds service, or if you sign up to our mailing list.</p>
		<p>If you don't have an account and unsubscribe from our email list, then you will never hear from us again unless you to.</p>
		<br>

		<p><em>Take Your Meds</em></p>
		<br>

		<p>Last updated: 20 July 2015</p>

	</div>

</div>

{% endblock%}
