{% extends "base/base.html" %}

{% block bodyclass %}about{% endblock %}

{% block content %}
<div id="content">

	<header class="content_header">
		<h1>Terms and Conditions</h1>
	</header>

	<div class="container">

	<p>This page gives the terms and conditions to which you agree when you use Take Your Meds.</p>
	<br>

	<h3>Using the Take Your Meds service</h3>
	<p>The Take Your Meds service is offered for your personal use.</p>
	<p>You agree to use this site only for lawful purposes, and in a manner that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by any third party.</p>
	<p>We may change the content at any time, but will aim to give one calendar month notice if we intend to stop running the service.</p>
	<p>By using this site, you indicate that you accept these terms of use and that you agree to abide by them. If you do not agree to these terms of use, please refrain from using our site.</p>
	<br>

	<h3>Disclaimer</h3>
	<p>Please make sure that you take medications as recommended by your healthcare practitioner.</p>
	<p>While we make every effort to keep our service running properly, we don’t provide any guarantees, conditions or warranties as to the service offered by the site.</p>
	<p>We don’t accept liability for loss or damage incurred by users of the website, whether direct, indirect or consequential, whether caused by tort, breach of contract or otherwise, in connection with our site, its use, the inability to use, or results of the use of our site, any websites linked to it	and any materials posted on it.</p>
	<br>

	<h3>Payment</h3>
	<p>When using Take Your Meds you may access services offered by Stripe, our payment gateway 
	provider. Stripe has its own terms and conditions that apply only to that service. Users of Stripe	should make sure they have read the relevant terms and conditions before completing any 
	transaction.</p>
	<br>

	<h3>Linking to and from Take Your Meds</h3>
	<p>We welcome and encourage other websites to link to this site, and you don’t have to ask 
	permission. However, we don’t give you permission to suggest that our website is associated with, or endorsed by, any other website, company, service or person.</p>
	<p>Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.</p>
	<br>

	<h3>Using Take Your Meds content</h3>
	<p>The Take Your Meds website is published under the Creative Commons BY licence, and you can reproduce information from the site as long as you obey the terms of that licence.</p>
	<p>Our source code is Open Source and is available under the MIT licence from our <a href="https://github.com/takeyourmeds/takeyourmeds-web">GitHub repository</a>. Please see the licence file for details.</p>
	<br>

	<h3>Being mean to us</h3>
	<p>You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of-service attack, or in any other way.</p>
	<p>By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 	1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them.</p>
	<br>

	<h3>Revisions to these terms and conditions</h3>
	<p>We may at any time revise these terms and conditions. Please check these terms and conditions regularly, as continued use of the Take Your Meds website after a change has been made confirms your acceptance of the change.	</p>
	<br>

	<p><em>Take Your Meds</em></p>

</div>

{% endblock%}
