celery==3.1.18
croniter==0.3.5
django-bootstrap3==5.4.0
django-celery==3.1.16
django-flat-theme==0.9.3
Django==1.8.1
djangorestframework==3.1.2
django-allauth==0.19.1
pytz==2015.4
redis==2.10.3
requests==2.7.0
twilio==4.3.0
