{% extends "base/base.html" %}

{% block title %}Register &mdash; {{ block.super }}{% endblock %}

{% block breadcrumbs_classes %}{{ block.super }} breadcrumb-light{% endblock %}

{% block breadcrumbs_header %}
  <h4>Register</h4>
  <p>Create a new account with  Take Your Meds</p>
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>Register</li>
{% endblock %}

{% block navbar_active_register %}active{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<div class="has-error">
  {% for x in form.non_field_errors %}
  <p class="help-block">{{ x }}</p>
  {% endfor %}
</div>
{% endif %}

<div class="row">
  <div class="col-sm-6 margin30">
    <h3 class="heading">
      Welcome to Take Your Meds
    </h3>
    <p>
      Get set up with Take Your Meds now, and start receiving your reminder phonecalls today.
    </p>

    <div class="divide50"></div>

    <h3 class="heading">Already have an account?</h3>
    <p>
      If you already have an account, then please
      <a href="{% url "account:login" %}">sign in</a>.
    </p>

    <div class="divide50"></div>

    <h3 class="heading">Want some help?</h3>
    <p>
      Check our <a href="{% url "static:faq" %}">FAQs page</a>, or <a href="contact">contact us</a> if you're still stuck.
    </p>
  </div>

  <div class="col-sm-6 sky-form-login-register v2">
    <div class="margin40">

      <form action="" method="POST" id="sky-form" class="sky-form">
        {% csrf_token %}

        <h3 class="text-center">Create a new account with Take Your Meds</h3>

        <fieldset>
          <section class="{% if form.errors.email %}state-error{% endif %}">
            <label class="input">
              <i class="icon-append fa fa-envelope-o"></i>
              <input
                id="{{ form.email.id_for_label }}"
                type="email"
                class="form-control"
                name="{{ form.email.html_name }}"
                value="{{ form.email.value|default:"" }}"
                maxlength="{{ form.fields.email.max_length }}"
                placeholder="Email address"
                {% if form.fields.email.required %}required{% endif %}
              >
            </label>
            {% for x in form.errors.username %}
              <p class="help-block">{{ x }}</p>
            {% endfor %}
          </section>

          <section class="{% if form.errors.password %}state-error{% endif %}">
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <input
                id="{{ form.password.id_for_label }}"
                type="password"
                class="form-control"
                name="{{ form.password.html_name }}"
                value="{{ form.password.value|default:"" }}"
                maxlength="{{ form.fields.password.max_length }}"
                placeholder="Password"
                {% if form.fields.password.required %}required{% endif %}
              >
            </label>
            {% for x in form.errors.password %}
              <p class="help-block">{{ x }}</p>
            {% endfor %}
          </section>
        </fieldset>

        <footer>
          <button type="submit" class="btn btn-theme-bg btn-lg pull-right">Create account</button>
        </footer>
      </form>
    </div>
  </div>
</div>

{% endblock %}
