{% extends "base/generic_base.html" %}

{% block body %}

<div class="boxed-wrapper">
  <div class="top-bar-light">            
    <div class="container">
      <div class="row">
        <div class="col-sm-5 hidden-xs">
          <div class="top-bar-socials">
          </div>
        </div>
        <div class="col-sm-7 text-right">
          <ul class="list-inline top-dark-right">                      
            <li class="hidden-sm hidden-xs"><i class="fa fa-envelope"></i> {{ settings.DEFAULT_FROM_EMAIL }}</li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url "account:logout" %}"><i class="fa fa-lock"></i> Login</a></li>
            {% else %}
            <li><a href="{% url "account:login" %}"><i class="fa fa-lock"></i> Login</a></li>
            <li><a href="{% url "registration:view" %}""><i class="fa fa-user"></i> Sign Up</a></li>
            {% endif %}
          </ul>
          <div class="search">
            <form role="form">
              <input type="text" class="form-control" autocomplete="off" placeholder="Write something and press enter">
              <span class="search-close"><i class="fa fa-times"></i></span>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "static:landing" %}">
        {% comment  %}
        <img src="{% static "img/logo.png" %}" alt="ASSAN">
        {% endcomment %}
        TakeYourMeds
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">home - revolution </a>
              <ul class="dropdown-menu">
                <li><a href="index.html"> Full width</a></li>
                <li><a href="home-revolution-boxed.html">Revolution Boxed</a></li>
                <li><a href="home-revolution-fullscreen.html">Revolution Fullscreen</a></li>
                <li><a href="ken-burns.html">Ken burns Slider</a></li>
              </ul>
            </li>
            <li><a href="home-carousel.html">Home - Carousel</a></li>
            <li><a href="home-flexslider.html">Home - Flex slider</a></li>
            <li><a href="home-parallax.html">Home - Parallax</a></li>
            <li><a href="home-video.html">Home - Video</a></li>
            <li><a href="home-boxed.html">Home - Boxed</a></li>
            <li><a href="home-construction.html">Home - Construction</a></li>
            <li><a href="home-portfolio.html">Home - Portfolio</a></li>
            <li><a href="home-events.html">Home - Events</a></li>                 
            <li><a href="home-shop.html">Home - Shop</a></li>
            <li><a href="medical-home.html">Medical Template</a></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Home Restaurant </a>
              <ul class="dropdown-menu">

                <li><a href="restaurant-one-page-light.html">One page Light</a></li>
                <li><a href="restaurant-one-page-dark.html">One page Dark</a></li>                    
              </ul>
            </li>
            <li><a href="real-estate-home.html"> Real Estate</a></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">One Page </a>
              <ul class="dropdown-menu">
                <li><a href="one-page.html">One page Light</a></li>
                <li><a href="one-page-dark.html">One page Dark</a></li>                    
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Multi level menu </a>
              <ul class="dropdown-menu">
                <li><a href="#"> menu level 2</a></li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">menu level 2 </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"> menu level 3</a></li>
                    <li><a href="#"> menu level 3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <!--menu home li end here-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle " data-toggle="dropdown">Portfolio <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu multi-level" role="menu">
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Cube Portfolio </a>
              <ul class="dropdown-menu">
                <li><a href="juicy-portfolio.html"> Juicy Projects</a></li>
                <li><a href="cube-fullwidth.html"> Full Width</a></li>
                <li><a href="cube-masonry.html"> Masonry</a></li>             
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Grid Text Boxed </a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-2.html"> 2 Columns</a></li>
                <li><a href="portfolio-3.html"> 3 Columns</a></li>
                <li><a href="portfolio-4.html"> 4 Columns</a></li>             

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Grid Boxed </a>
              <ul class="dropdown-menu">
                <li><a href="grid-portfolio-2-no-text.html">2 Columns</a></li>
                <li><a href="grid-portfolio-3-no-text.html">3 Columns</a></li>
                <li><a href="grid-portfolio-4-no-text.html">4 Columns</a></li>             

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">No space Full width </a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-full-width-2.html">2 columns</a></li>
                <li><a href="portfolio-full-width-3.html">3 columns</a></li>
                <li><a href="portfolio-full-width-4.html">4 columns</a></li>             
                <li><a href="portfolio-full-width-5.html">5 columns</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">No Space Boxed </a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-no-space-bx-2.html"> 2 Columns</a></li>
                <li><a href="portfolio-no-space-bx-3.html"> 3 Columns</a></li>
                <li><a href="portfolio-no-space-bx-4.html"> 4 Columns</a></li>             

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Portfolio Masonry </a>
              <ul class="dropdown-menu">
                <li><a href="masonry-portfolio-3.html"> 3 Columns</a></li>
                <li><a href="masonry-portfolio-4.html"> 4 Columns</a></li>
                <li><a href="masonry-portfolio-full.html"> Full Width</a></li>             

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Portfolio Items</a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-single.html">Single item</a></li>
                <li><a href="portfolio-single-2.html">Single item 2</a></li>                               
              </ul>
            </li>

          </ul>
        </li>
        <!--menu Portfolio li end here-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="blog-full.html">Blog - full width</a></li>
            <li><a href="blog-leftimg.html">Blog - left image</a></li>
            <li><a href="blog-sidebar.html">Blog - sidebar</a></li>
            <li><a href="blog-2col.html">Blog - 2 column</a></li>
            <li><a href="blog-timeline.html">Blog - Timeline</a></li>
            <li><a href="blog-masonary.html">Blog - Masonry</a></li>
            <li><a href="blog-single.html">Blog - Single</a></li>
          </ul>
        </li>
        <!--menu blog li end here-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="about.html">About</a></li>
            <li><a href="me.html">About - Me</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a href="pricing.html">Our Pricing</a></li>                
            <li><a href="faq.html">FAQS</a></li> 
            <li><a href="email-template.html">Email Template</a></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Contact </a>
              <ul class="dropdown-menu">
                <li><a href="contact.html"> Contact default</a></li>
                <li><a href="contact-advanced.php">Contact advanced</a></li>
                <li><a href="contact-option.php">Contact option</a></li>
                <li><a href="contact-flat.php">Contact Flat</a></li>
              </ul>
            </li>                      
            <li><a href="search-results.html">Search Results</a></li>                
            <li><a href="career.html">Career</a></li>
            <li><a href="gallery.html">Gallery</a></li>

            <li><a href="process.html">Our Process</a></li>

          </ul>
        </li>
        <!--menu pages li end here-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features  <i class="fa fa-angle-down"></i></a> 
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Headers </a>
              <ul class="dropdown-menu">
                <li><a href="index.html">Header 1 - Default</a></li>
                <li><a href="header-dark.html">Header 2 - dark </a></li>
                <li><a href="header-transparent.html">header 3 - transparent </a></li>
                <li><a href="header-center-logo.html">header 4 - Logo center </a></li>
                <li><a href="header-side-panel.html">header 5 - Side panel </a></li>
              </ul>
            </li> 
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Footers </a>
              <ul class="dropdown-menu">
                <li><a href="index.html">Footer dark - 1</a></li>
                <li><a href="footer-2.html">Footer dark - 2</a></li>
                <li><a href="footer-3.html">Footer dark - 3 </a></li>
                <li><a href="footer-light-1.html">Footer Light - 1</a></li>
                <li><a href="footer-light-2.html">Footer Light - 2</a></li>
                <li><a href="footer-light-3.html">Footer Light - 3 </a></li>
              </ul>
            </li> 
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Page Templates </a>
              <ul class="dropdown-menu">
                <li><a href="full-width.html">Full Width</a></li>                          
                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                <li><a href="right-sidebar.html">Right sidebar</a></li>
                <li><a href="both-sidebar.html">Both Sidebar</a></li>
                <li><a href="both-right-sidebar.html">Both Right sidebar</a></li>
                <li><a href="both-left-sidebar.html">Both Left Sidebar</a></li>
              </ul>
            </li> 
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Coming Soon </a>
              <ul class="dropdown-menu">
                <li><a href="coming-soon-1.html">Coming soon 1</a></li>                          
                <li><a href="coming-soon-2.html">Coming soon 2</a></li>
                <li><a href="coming-soon-3.html">Coming soon 3</a></li>
              </ul>
            </li> 
            <li><a href="side-nav.html">side navigation </a></li>
            <li><a href="maintenance-page.html">Maintenance page </a></li>
            <li><a href="blank.html">Blank Page</a></li>
            <li><a href="error.html">Error - 404</a></li>
            <li><a href="login-ragister.html">Login / Register</a></li>
            <li><a href="login-ragister-classic.html">Login / Register - Classic </a></li>
            <li><a href="invoice.html">Invoice</a></li>
            <li><a href="site-map.html">Site Map</a></li>
          </ul>
        </li><!--features-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">                
            <li><a href="shop-2col.html">2 columns sidebar</a></li>
            <li><a href="shop-3col.html">3 columns sidebar</a></li>
            <li><a href="shop-4col.html">4 columns full width</a></li>
            <li><a href="product-list.html">Product list</a></li>
            <li><a href="product-detail.html">Single product</a></li>
            <li><a href="cart.html">Shopping cart</a></li>                
            <li><a href="checkout.html">Checkout</a></li>
            <li><a href="shop-login.html">Login</a></li>
            <li><a href="shop-register.html">Register</a></li>

          </ul>
        </li> <!--menu Shop li end here-->
        <!--mega menu-->
        <li class="dropdown yamm-fw">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shortcodes  <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">

                  <div class="col-sm-3">
                    <h3 class="heading">Shortcode 1</h3>
                    <ul class="nav mega-vertical-nav">    

                      <li><a href="typography.html"><i class="fa fa-text-height"></i> Typography</a></li>
                      <li><a href="grid-system.html"><i class="fa fa-bars"></i> Grid System</a></li>
                      <li><a href="testimonials.html"><i class="fa fa-comment-o"></i> testimonials </a></li>
                      <li><a href="tabs-accordian.html"><i class="fa fa-table"></i> tabs &  Accordions </a></li>
                    </ul>

                  </div>
                  <div class="col-sm-3">
                    <h3 class="heading">Shortcode 2 </h3>
                    <ul class="nav mega-vertical-nav">
                      <li><a href="buttons.html"><i class="fa fa-cog"></i> Buttons</a></li>
                      <li><a href="social-buttons.html"><i class="fa fa-share"></i> Social Buttons</a></li>
                      <li><a href="alerts.html"><i class="fa fa-bell"></i> Alerts </a></li>
                      <li><a href="other-elements.html"><i class="fa fa-cogs"></i> Other Elements </a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h3 class="heading">Shortcode 3</h3>
                    <ul class="nav mega-vertical-nav">
                      <li><a href="font-awesome.html"><i class="fa fa-flag"></i> Font Awesome icons</a></li>                           
                      <li><a href="pe-icons.html"><i class="pe-7s-like"></i> Pe icons</a></li>   
                      <li><a href="carousel-shortcodes.html"><i class="fa fa-sliders"></i> Carousel Sliders </a></li>
                      <li><a href="tables.html"><i class="fa fa-table"></i> Tables </a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h3 class="heading">Shortcode 4</h3>
                    <ul class="nav mega-vertical-nav">
                      <li><a href="pricing-tables.html"><i class="fa fa-usd"></i> Pricing tables</a></li>                           
                      <li><a href="videos.html"><i class="fa fa-image"></i> Responsive videos</a></li>   
                      <li><a href="cta.html"><i class="fa fa-map-pin"></i> call to cations </a></li>
                      <li><a href="maps.html"><i class="fa fa-map-marker"></i> Google maps </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li> <!--menu Features li end here-->
        <!--mega menu end-->  

        <!--            <li class="dropdown">
                      <a href="#" class=" dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock"></i> Sign In</a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                        <form role="form">
                          <h4>Signin</h4>
        
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-user"></i></span>
                              <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <br>
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                              <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="checkbox pull-left">
                              <label>
                                <input type="checkbox"> Remember me
                              </label>
                            </div>
                            <a class="btn btn-theme-bg pull-right">Login</a>
                                                <button type="submit" class="btn btn-theme pull-right">Login</button>         
                            <div class="clearfix"></div>
                            <hr>
                            <p>Don't have an account! <a href="#">Register Now</a></p>
                          </div>
                        </form>
                      </div>
                    </li> menu login li end here-->
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--container-->
</div><!--navbar-default-->

    <!--rev slider start-->

    <div class="tp-banner-container">
      <div class="tp-banner-boxed">
        <ul>
       <!-- SLIDE -->
        <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
          <!-- MAIN IMAGE -->
          <img src="{% static "img/bg-4.jpg" %}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
          <div class="caption sfb bold uppercase-title text-center"
             data-x="center"
             data-y="158" 
             data-speed="900"
             data-start="800"
             data-easing="Sine.easeOut">Hello! This is Assan</div>
          <div class="caption sfb lowercase-caption text-center" 
             data-x="center"
             data-y="218"
             data-speed="900"
             data-start="1500"
             data-easing="Sine.easeOut">A responsive site template with a clean and profession design 
            <br />that will be a great solution for your business, portfolio, Shop or any other purpose.</div>
          <div class="caption rev-buttons tp-resizeme sfb" 
             data-x="center" 
             data-y="313"
             data-speed="900"
             data-start="2200" 
             data-easing="Sine.easeOut">
            <a href="#" class="btn btn-theme-bg btn-lg">Purchase Now</a>
          </div>
        </li>
        <!-- SLIDE -->
        <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
          <!-- MAIN IMAGE -->
          <img src="{% static "img/slider-2.jpg" %}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
        
          <div class="tp-caption lft"
             data-x="578"
             data-y="120" 
             data-speed="900"
             data-start="2100"
             data-easing="Sine.easeOut">
            <img src="{% static "img/mockup-all.png" %}" alt="" />
          </div>
                 
          <div class="tp-caption sft modern_big_bluebg rev-title-v1"
             data-x="35" data-y="200"
             data-speed="500"
             data-start="800"
             data-easing="Sine.easeOut">
            Powerful Template
          </div>
          <div class="tp-caption sfr modern_big_bluebg rev-title-v1"
             data-x="35"
             data-y="265"
             data-speed="500"
             data-start="1300"
             data-easing="Sine.easeOut">
            Unlimited layouts
          </div>
          <div class="caption sfb rev-buttons tp-resizeme"
             data-x="35"
             data-y="330"
             data-speed="500"
             data-start="1800"
             data-easing="Sine.easeOut">
            <a href="#" class="btn btn-theme-bg btn-lg">Purchase Now</a>
          </div>
        </li>
        <!-- SLIDE -->
        <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
          <!-- MAIN IMAGE -->
          <img src="{% static "img/slider-5.jpg" %}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
          <div class="tp-caption lft"
             data-x="35" 
             data-y="140"
             data-speed="900"
             data-start="800" 
             data-easing="Sine.easeOut">
            <img src="{% static "img/macbook.png" %}" alt="" />
          </div>
          <div class="tp-caption lfr"
             data-x="375"
             data-y="180"
             data-speed="900" 
             data-start="1500"
             data-easing="Sine.easeOut">
            <img src="{% static "img/ipad.png" %}" alt="" />
          </div>
          <div class="tp-caption lfl" 
             data-x="348"
             data-y="249"
             data-speed="900"
             data-start="1800"
             data-easing="Sine.easeOut">
            <img src="{% static "img/iphone.png" %}" alt="" />
          </div>
          <div class="tp-caption sfr modern_big_redbg" 
             data-x="750"
             data-y="185"
             data-speed="400"
             data-start="2500"
             data-easing="Sine.easeOut">
            100% Responsive
          </div>
          <div class="tp-caption sfr modern_big_redbg"
             data-x="750" 
             data-y="237"
             data-speed="400"
             data-start="2900"
             data-easing="Sine.easeOut">
            80+ layouts
          </div>
          <div class="tp-caption sfr modern_big_redbg"
             data-x="750" data-y="289"
             data-speed="400"
             data-start="3300" 
             data-easing="Sine.easeOut">
            Revolution Slider
          </div>
          <div class="caption sfr rev-buttons tp-resizeme " 
             data-x="750"
             data-y="341" 
             data-speed="400" 
             data-start="3700" 
             data-easing="Sine.easeOut">
            <a href="#" class="btn btn-lg border-white">See all features</a>
          </div>


        </li>
        </ul>
      </div>
    </div><!--full width banner-->






      <!--end-->

<div class="intro-text-1">
      <div class="container">
          <div class="row">
              <div class="col-sm-8">
                  <h4 class="animated slideInDown">Assan is Powerful Multipurpose template</h4>
                  <p>
                      Clean & powerful Easy to use multipurpose business HTML5 template.
                  </p>                   
              </div>
              <div class="col-sm-4">
                  <a href="#" class="btn border-white btn-lg">Purchase now</a>
              </div>
          </div>
      </div>
  </div> <!--intro text end-->


      <section class="services-wrap">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="center-heading">
                          <h2>What We Offer</h2>
                          <span class="center-line"></span>
                      </div>
                  </div>                   
              </div><!--center heading row-->
              <div class="row">
                  <div class="col-md-4 col-sm-6 margin20">
                      <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
                          <div class="services-box-icon">
                              <i class="fa fa-pencil"></i>
                          </div><!--services icon-->
                          <div class="services-box-info">
                              <h4>Web &AMP; Graphics Design</h4>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                              </p>
                          </div>
                      </div><!--services box-->
                  </div><!--services col-->
                  <div class="col-md-4 col-sm-6 margin20">
                      <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="200ms">
                          <div class="services-box-icon">
                              <i class="fa fa-globe"></i>
                          </div><!--services icon-->
                          <div class="services-box-info">
                              <h4>Web Development</h4>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                              </p>
                          </div>
                      </div><!--services box-->
                  </div><!--services col-->
                  <div class="col-md-4 col-sm-6 margin20">
                      <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                          <div class="services-box-icon">
                              <i class="fa fa-users"></i>
                          </div><!--services icon-->
                          <div class="services-box-info">
                              <h4>Customer Support</h4>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                              </p>
                          </div>
                      </div><!--services box-->
                  </div><!--services col-->

                  <div class="col-md-4 col-sm-6 margin20">
                      <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
                          <div class="services-box-icon">
                              <i class="fa fa-crop"></i>
                          </div><!--services icon-->
                          <div class="services-box-info">
                              <h4>Pixel perfect design</h4>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                              </p>
                          </div>
                      </div><!--services box-->
                  </div><!--services col-->
                  <div class="col-md-4 col-sm-6 margin20">
                      <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
                          <div class="services-box-icon">
                              <i class="fa fa-twitter"></i>
                          </div><!--services icon-->
                          <div class="services-box-info">
                              <h4>bootstrap 3.3.5</h4>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                              </p>
                          </div>
                      </div><!--services box-->
                  </div><!--services col-->
                  <div class="col-md-4 col-sm-6 margin20">
                      <div class="services-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="600ms">
                          <div class="services-box-icon">
                              <i class="fa fa-flag"></i>
                          </div><!--services icon-->
                          <div class="services-box-info">
                              <h4>Font Awesome icons</h4>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.

                              </p>

                          </div>
                      </div><!--services box-->
                  </div><!--services col-->
              </div><!--services row-->
          </div>
      </section><!--section services-->
      <div class="divide40"></div>
      <section class="portfolio">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="center-heading">
                          <h2>Recent work</h2>
                          <span class="center-line"></span>
                      </div>
                  </div>                   
              </div><!--center heading row-->
              <div class="row">
                  <div class="col-md-12">
                      <div id="work-carousel" class="owl-carousel owl-spaced">
                          <div>

                              <div class="item-img-wrap ">
                                  <img src="{% static "img/img-1.jpg" %}" class="img-responsive" alt="workimg">
                                  <div class="item-img-overlay">
                                      <a href="img/img-1.jpg" class="show-image">
                                          <span></span>
                                      </a>
                                  </div>
                              </div> <!--item img wrap-->
                              <div class="work-desc">
                                  <h3><a href="portfolio-single.html">woo Commerce</a></h3>
                                  <span>Magento</span>
                              </div><!--work desc-->
                          </div><!--owl item-->
                          <div> 
                              <div class="item-img-wrap ">
                                  <img src="{% static "img/img-2.jpg" %}" class="img-responsive" alt="workimg">
                                  <div class="item-img-overlay">
                                      <a href="img/img-2.jpg" class="show-image">
                                          <span></span>
                                      </a>
                                  </div>
                              </div> 
                              <div class="work-desc">
                                  <h3><a href="portfolio-single.html">Web Develop</a></h3>
                                  <span>Php / Wordpress</span>
                              </div><!--work desc-->
                          </div><!--owl item-->
                          <div> 
                              <div class="item-img-wrap ">
                                  <img src="{% static "img/img-3.jpg" %}" class="img-responsive" alt="workimg">
                                  <div class="item-img-overlay">
                                      <a href="img/img-3.jpg" class="show-image">
                                          <span></span>
                                      </a>
                                  </div>
                              </div> 
                              <div class="work-desc">
                                  <h3><a href="portfolio-single.html">Web Design</a></h3>
                                  <span>HTML5 / CSS3</span>
                              </div><!--work desc-->
                          </div><!--owl item-->
                          <div> 
                              <div class="item-img-wrap ">
                                  <img src="{% static "img/img-4.jpg" %}" class="img-responsive" alt="workimg">
                                  <div class="item-img-overlay">
                                      <a href="img/img-4.jpg" class="show-image">
                                          <span></span>
                                      </a>
                                  </div>
                              </div> 
                              <div class="work-desc">
                                  <h3><a href="portfolio-single.html">Graphics Design</a></h3>
                                  <span>Corel Drow</span>
                              </div><!--work desc-->
                          </div><!--owl item-->
                          <div> 
                              <div class="item-img-wrap ">
                                  <img src="{% static "img/img-5.jpg" %}" class="img-responsive" alt="workimg">
                                  <div class="item-img-overlay">
                                      <a href="img/img-5.jpg" class="show-image">
                                          <span></span>
                                      </a>
                                  </div>
                              </div> 
                              <div class="work-desc">
                                  <h3><a href="portfolio-single.html">Psd Design</a></h3>
                                  <span>Photoshop</span>
                              </div><!--work desc-->
                          </div><!--owl item-->
                          <div> 
                              <div class="item-img-wrap ">
                                  <img src="{% static "img/img-6.jpg" %}" class="img-responsive" alt="workimg">
                                  <div class="item-img-overlay">
                                      <a href="img/img-6.jpg" class="show-image">
                                          <span></span>
                                      </a>
                                  </div>
                              </div> 
                              <div class="work-desc">
                                  <h3><a href="portfolio-single.html">Logo Design</a></h3>
                                  <span>Illustrate</span>
                              </div><!--work desc-->
                          </div><!--owl item-->
                      </div>
                  </div>
              </div><!--row-->
              <div class="divide30"></div>
              <div class="row">
                  <div class="col-md-12 text-center">
                      <a href="#" class="btn border-theme btn-lg wow animated fadeInUp"><i class="fa fa-bars"></i> Load More Projects</a>
                  </div>
              </div>
          </div><!--container-->
      </section><!--recent work section -->
      <div class="divide80"></div>
      <div class="container">
          <div class="row">
              <div class="col-sm-5">
                  <h3 class="heading">About Company</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula.
                  </p>
              </div>
              <div class="col-sm-7">
                  <div class="skills-wrapper wow animated bounceIn animated" data-wow-delay="0.2s">
                      <h3 class="heading-progress">Web Design <span class="pull-right">88%</span></h3>
                      <div class="progress">
                          <div class="progress-bar" style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar">
                          </div>
                      </div>
                      <h3 class="heading-progress">Web Development <span class="pull-right">78%</span></h3>
                      <div class="progress">
                          <div class="progress-bar" style="width: 78%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="78" role="progressbar">
                          </div>
                      </div>
                      <h3 class="heading-progress">Marketing <span class="pull-right">82%</span></h3>
                      <div class="progress">
                          <div class="progress-bar" style="width: 82%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="82" role="progressbar">
                          </div>
                      </div>                    
                  </div><!--skills-->
              </div>
          </div>
      </div><!--about and progress section end-->
      <div class="divide80"></div>
      <section class="testimonials parallax" data-stellar-background-ratio="0.5">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="center-heading">
                          <h2>clients Says</h2>
                          <span class="center-line"></span>
                      </div>
                  </div>                   
              </div><!--center heading row-->
              <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center">
                      <div id="testi-carousel" class="owl-carousel owl-spaced">
                          <div>
                              <img src="{% static "img/customer-1.jpg" %}" class="img-responsive customer-img" alt="">
                              <h4>
                                  <i class="fa fa-quote-left"></i> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                              </h4>
                              <p>-David</p>
                          </div><!--testimonials item like paragraph-->
                          <div>
                              <img src="{% static "img/customer-2.jpg" %}" class="img-responsive customer-img" alt="">
                              <h4>
                                  <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                              </h4>
                              <p>-James</p>
                          </div><!--testimonials item like paragraph-->
                          <div>
                              <img src="{% static "img/customer-3.jpg" %}" class="img-responsive customer-img" alt="">
                              <h4>
                                  <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                              </h4>
                              <p>-Jesica</p>
                          </div><!--testimonials item like paragraph-->
                      </div>
                  </div>
              </div>
          </div>
      </section><!--testimonials-->
      <section id="services-bg-wrap">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 hidden-sm wow animated fadeInLeft">
                      <img src="{% static "img/mockup-ipad.png" %}" class="img-responsive" alt="mockup">
                  </div>
                  <div class="col-md-8  col-xs-12 service-3-meta">
                      <h1 class="wow animated fadeInDownfadeInRight">Core features of <span class="colored-text">assan</span></h1>
                      <div class="services-box margin30 wow animated fadeInRight">
                          <div class="services-box-icon">
                              <i class="fa fa-tablet"></i>
                          </div><!--services icon-->
                          <div class="services-box-info">
                              <h4>Fully Responsive</h4>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                              </p>
                          </div>
                      </div><!--service box-->
                      <div class="services-box margin30 wow animated fadeInRight">
                          <div class="services-box-icon">
                              <i class="fa fa-twitter"></i>
                          </div><!--services icon-->
                          <div class="services-box-info">
                              <h4>bootstrap 3.3.5</h4>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                              </p>
                          </div>
                      </div><!--service box-->

                      <div class="services-box margin30 wow animated fadeInRight">
                          <div class="services-box-icon">
                              <i class="fa fa-code"></i>
                          </div><!--services icon-->
                          <div class="services-box-info">
                              <h4>80+ valid HTML5 Pages and much more...</h4>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                              </p>
                          </div>
                          <div class="divide30"></div>
                          <p><a href="#" class="btn btn-theme-dark btn-lg">Purchase Now</a></p>
                      </div><!--service box-->
                  </div>
              </div>
          </div> 
      </section><!--services with the showcase mockups-->
      <section id="clients-carousel">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="center-heading">
                          <h2>Trusted worldwide</h2>
                          <span class="center-line"></span>
                          <p class="lead">
                              Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                          </p>
                      </div>
                  </div>                   
              </div><!--center heading row-->
              <div id="clients-slider">       
                  <div class="item"><a href="#"><img src="{% static "img/cl-1.png" %}" alt=""></a></div>
                  <div class="item"><a href="#"><img src="{% static "img/cl-2.png" %}" alt=""></a></div>
                  <div class="item"><a href="#"><img src="{% static "img/cl-3.png" %}" alt=""></a></div>
                  <div class="item"><a href="#"><img src="{% static "img/cl-4.png" %}" alt=""></a></div>
                  <div class="item"><a href="#"><img src="{% static "img/cl-5.png" %}" alt=""></a></div>
              </div>
          </div>
      </section><!--clients carousel end-->
      <section id="cta-1">
          <div class="container">
              <h1>Do you have a project or idea?</h1>
              <a href="#" class="btn border-white btn-lg">Join us today</a>
          </div>
      </section>
      <div class="divide80"></div>
      <div class="container">

          <div class="row">
              <div class="col-md-7 margin40">
                  <h3 class="heading">Latest News</h3>
                  <div id="news-carousel" class="owl-carousel owl-spaced">
                      <div>
                          <a href="#">
                              <div class="item-img-wrap">
                                  <img src="{% static "img/img-8.jpg" %}" class="img-responsive" alt="workimg">
                                  <div class="item-img-overlay">
                                      <span></span>
                                  </div>
                              </div>                       
                          </a><!--news link--> 
                          <div class="news-desc">
                              <span>Sports</span>
                              <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                              <span>By <a href="#">Author</a> on 24 july 2014</span> <span><a href="#">Read more...</a></span>
                          </div><!--news desc-->
                      </div> 
                      <div>
                          <a href="#">
                              <div class="item-img-wrap">
                                  <img src="{% static "img/img-7.jpg" %}" class="img-responsive" alt="workimg">
                                  <div class="item-img-overlay">
                                      <span></span>
                                  </div>
                              </div>                       
                          </a><!--news link--> 
                          <div class="news-desc">
                              <span>Sports</span>
                              <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                              <span>By <a href="#">Author</a> on 24 july 2014</span> <span><a href="#">Read more...</a></span>
                          </div><!--news desc-->
                      </div> 
                      <div>
                          <a href="#">
                              <div class="item-img-wrap">
                                  <img src="{% static "img/img-6.jpg" %}" class="img-responsive" alt="workimg">
                                  <div class="item-img-overlay">
                                      <span></span>
                                  </div>
                              </div>                       
                          </a><!--news link--> 
                          <div class="news-desc">
                              <span>Sports</span>
                              <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                              <span>By <a href="#">Author</a> on 24 july 2014</span> <span><a href="#">Read more...</a></span>
                          </div><!--news desc-->
                      </div> 
                      <div>
                          <a href="#">
                              <div class="item-img-wrap">
                                  <img src="{% static "img/img-5.jpg" %}" class="img-responsive" alt="workimg">
                                  <div class="item-img-overlay">
                                      <span></span>
                                  </div>
                              </div>                       
                          </a><!--news link--> 
                          <div class="news-desc">
                              <span>Sports</span>
                              <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                              <span>By <a href="#">Author</a> on 24 july 2014</span> <span><a href="#">Read more...</a></span>
                          </div><!--news desc-->
                      </div> 
                  </div>
              </div><!--col 7 end use for latest news owl carousel slide-->
              <div class="col-md-5 margin20">
                  <h3 class="heading">Why Us?</h3>
                  <!--bootstrap collapse-->
                  <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                      <i class="fa fa-desktop"></i>    100% Responsive Design
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                      <i class="fa fa-crop"></i>    Pixel Perfect Design 
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                              <div class="panel-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                      <i class="fa fa-cogs"></i>    Full Support
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                              <div class="panel-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--collapse end-->
              </div>
          </div>
      </div><!--latest news and why us container end-->

      <div class="divide60"></div>

    <footer id="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-6 margin30">
                  <div class="footer-col">
                      <h3>About assan</h3>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
                      </p>
                      <ul class="list-inline footer-social">
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                                  <i class="fa fa-facebook"></i>
                                  <i class="fa fa-facebook"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-twitter">
                                  <i class="fa fa-twitter"></i>
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-google-plus">
                                  <i class="fa fa-google-plus"></i>
                                  <i class="fa fa-google-plus"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-pinterest">
                                  <i class="fa fa-pinterest"></i>
                                  <i class="fa fa-pinterest"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-linkedin">
                                  <i class="fa fa-linkedin"></i>
                                  <i class="fa fa-linkedin"></i>
                              </a>
                          </li>
                      </ul>
                  </div>                        
              </div><!--footer col-->
              <div class="col-md-3 col-sm-6 margin30">
                  <div class="footer-col">
                      <h3>Contact</h3>

                      <ul class="list-unstyled contact">
                          <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> vaisahali, jaipur, 302012</p></li> 
                          <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">Support@designmylife.com</a></p></li>
                          <li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +91 1800 2345 2132</p></li>
                          <li> <p><strong><i class="fa fa-print"></i> Fax</strong> 1800 2345 2132</p></li>
                          <li> <p><strong><i class="fa fa-skype"></i> Skype</strong> assan.856</p></li>

                      </ul>
                  </div>                        
              </div><!--footer col-->
              <div class="col-md-3 col-sm-6 margin30">
                  <div class="footer-col">
                      <h3>Featured Work</h3>
                      <ul class="list-inline f2-work">
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-1.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-2.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-3.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-4.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-5.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-6.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-7.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-8.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-9.jpg" %}" class="img-responsive" alt=""></a></li>
                      </ul>
                  </div>                        
              </div><!--footer col-->
              <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                  <p>
                  </p>
                </div>                        
              </div>

          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="footer-btm">
                <span>
                  &copy; {% now "Y" %} Take Your Meds, Ltd. All rights reserved.
                  <br>
                  Take Your Meds, Ltd is a limited company registered in
                  England and Wales with registration 9686492.
                </span>
             </div>
          </div>
      </div>
  </footer>
</div>

{% endblock %}

{% block body_old %}

<header class="site_header">
  <div class="container">
    <a href="{% url "static:landing" %}">
      <h2>Take Your Meds</h2>
    </a>

    <ul class="site_nav">
      <li><a href="{% url "static:about" %}">About</a></li>
      <li><a href="{% url "reminders:create" %}">New Reminder</a></li>
      <li><a href="{% url "reminders:index" %}">My Reminders</a></li>
      {% if request.user.is_authenticated %}
      <li><a href="{% url "account:logout" %}">Logout</a></li>
      {% else %}
      <li><a href="{% url "registration:view" %}">Register</a></li>
      <li><a href="{% url "account:login" %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</header>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
<div id="content">
  <div class="container">
    {% block container %}{% endblock %}
  </div>
</div>
{% endblock %}

<footer>
  <div class="container">
    <p>
      Copyright &copy; {% now "Y" %} Take Your Meds, Ltd.<br>
      Registered company number 9686492 in England and Wales.<br>
    </p>
    <p>
      Please read our
      <a href="{% url "static:terms" %}">Terms and Conditions</a> and
      <a href="{% url "static:privacy" %}">Privacy Policy</a>.
      {% if request.user.is_superuser %}
        <a href="{% url "static:admin" %}">Administration</a>.
      {% endif %}
    </p>
  </div>
</footer>

{% endblock %}
