{% extends "base/generic_base.html" %}

{% block body %}

<div class="boxed-wrapper">
  <div class="top-bar-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 hidden-xs">
          <div class="top-bar-socials">
          </div>
        </div>
        <div class="col-sm-7 text-right">
          <ul class="list-inline top-dark-right">
            <li class="hidden-sm hidden-xs"><i class="fa fa-envelope"></i> {{ settings.DEFAULT_FROM_EMAIL }}</li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url "account:logout" %}"><i class="fa fa-lock"></i> Login</a></li>
            {% else %}
            <li><a href="{% url "account:login" %}"><i class="fa fa-lock"></i> Login</a></li>
            <li><a href="{% url "registration:view" %}""><i class="fa fa-user"></i> Sign Up</a></li>
            {% endif %}
          </ul>
          <div class="search">
            <form role="form">
              <input type="text" class="form-control" autocomplete="off" placeholder="Write something and press enter">
              <span class="search-close"><i class="fa fa-times"></i></span>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "static:landing" %}">
        {% comment  %}
        <img src="{% static "img/logo.png" %}" alt="ASSAN">
        {% endcomment %}
        TakeYourMeds
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">home - revolution </a>
              <ul class="dropdown-menu">
                <li><a href="index.html"> Full width</a></li>
                <li><a href="home-revolution-boxed.html">Revolution Boxed</a></li>
                <li><a href="home-revolution-fullscreen.html">Revolution Fullscreen</a></li>
                <li><a href="ken-burns.html">Ken burns Slider</a></li>
              </ul>
            </li>
            <li><a href="home-carousel.html">Home - Carousel</a></li>
            <li><a href="home-flexslider.html">Home - Flex slider</a></li>
            <li><a href="home-parallax.html">Home - Parallax</a></li>
            <li><a href="home-video.html">Home - Video</a></li>
            <li><a href="home-boxed.html">Home - Boxed</a></li>
            <li><a href="home-construction.html">Home - Construction</a></li>
            <li><a href="home-portfolio.html">Home - Portfolio</a></li>
            <li><a href="home-events.html">Home - Events</a></li>                 
            <li><a href="home-shop.html">Home - Shop</a></li>
            <li><a href="medical-home.html">Medical Template</a></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Home Restaurant </a>
              <ul class="dropdown-menu">

                <li><a href="restaurant-one-page-light.html">One page Light</a></li>
                <li><a href="restaurant-one-page-dark.html">One page Dark</a></li>                    
              </ul>
            </li>
            <li><a href="real-estate-home.html"> Real Estate</a></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">One Page </a>
              <ul class="dropdown-menu">
                <li><a href="one-page.html">One page Light</a></li>
                <li><a href="one-page-dark.html">One page Dark</a></li>                    
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Multi level menu </a>
              <ul class="dropdown-menu">
                <li><a href="#"> menu level 2</a></li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">menu level 2 </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"> menu level 3</a></li>
                    <li><a href="#"> menu level 3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!--menu home li end here-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle " data-toggle="dropdown">Portfolio <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu multi-level" role="menu">
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Cube Portfolio </a>
              <ul class="dropdown-menu">
                <li><a href="juicy-portfolio.html"> Juicy Projects</a></li>
                <li><a href="cube-fullwidth.html"> Full Width</a></li>
                <li><a href="cube-masonry.html"> Masonry</a></li>             
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Grid Text Boxed </a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-2.html"> 2 Columns</a></li>
                <li><a href="portfolio-3.html"> 3 Columns</a></li>
                <li><a href="portfolio-4.html"> 4 Columns</a></li>             

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Grid Boxed </a>
              <ul class="dropdown-menu">
                <li><a href="grid-portfolio-2-no-text.html">2 Columns</a></li>
                <li><a href="grid-portfolio-3-no-text.html">3 Columns</a></li>
                <li><a href="grid-portfolio-4-no-text.html">4 Columns</a></li>             

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">No space Full width </a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-full-width-2.html">2 columns</a></li>
                <li><a href="portfolio-full-width-3.html">3 columns</a></li>
                <li><a href="portfolio-full-width-4.html">4 columns</a></li>             
                <li><a href="portfolio-full-width-5.html">5 columns</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">No Space Boxed </a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-no-space-bx-2.html"> 2 Columns</a></li>
                <li><a href="portfolio-no-space-bx-3.html"> 3 Columns</a></li>
                <li><a href="portfolio-no-space-bx-4.html"> 4 Columns</a></li>             

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Portfolio Masonry </a>
              <ul class="dropdown-menu">
                <li><a href="masonry-portfolio-3.html"> 3 Columns</a></li>
                <li><a href="masonry-portfolio-4.html"> 4 Columns</a></li>
                <li><a href="masonry-portfolio-full.html"> Full Width</a></li>             

              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Portfolio Items</a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-single.html">Single item</a></li>
                <li><a href="portfolio-single-2.html">Single item 2</a></li>                               
              </ul>
            </li>

          </ul>
        </li>
        <!--menu Portfolio li end here-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="blog-full.html">Blog - full width</a></li>
            <li><a href="blog-leftimg.html">Blog - left image</a></li>
            <li><a href="blog-sidebar.html">Blog - sidebar</a></li>
            <li><a href="blog-2col.html">Blog - 2 column</a></li>
            <li><a href="blog-timeline.html">Blog - Timeline</a></li>
            <li><a href="blog-masonary.html">Blog - Masonry</a></li>
            <li><a href="blog-single.html">Blog - Single</a></li>
          </ul>
        </li>
        <!--menu blog li end here-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="about.html">About</a></li>
            <li><a href="me.html">About - Me</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a href="pricing.html">Our Pricing</a></li>                
            <li><a href="faq.html">FAQS</a></li> 
            <li><a href="email-template.html">Email Template</a></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Contact </a>
              <ul class="dropdown-menu">
                <li><a href="contact.html"> Contact default</a></li>
                <li><a href="contact-advanced.php">Contact advanced</a></li>
                <li><a href="contact-option.php">Contact option</a></li>
                <li><a href="contact-flat.php">Contact Flat</a></li>
              </ul>
            </li>                      
            <li><a href="search-results.html">Search Results</a></li>                
            <li><a href="career.html">Career</a></li>
            <li><a href="gallery.html">Gallery</a></li>

            <li><a href="process.html">Our Process</a></li>

          </ul>
        </li>
        <!--menu pages li end here-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features  <i class="fa fa-angle-down"></i></a> 
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Headers </a>
              <ul class="dropdown-menu">
                <li><a href="index.html">Header 1 - Default</a></li>
                <li><a href="header-dark.html">Header 2 - dark </a></li>
                <li><a href="header-transparent.html">header 3 - transparent </a></li>
                <li><a href="header-center-logo.html">header 4 - Logo center </a></li>
                <li><a href="header-side-panel.html">header 5 - Side panel </a></li>
              </ul>
            </li> 
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Footers </a>
              <ul class="dropdown-menu">
                <li><a href="index.html">Footer dark - 1</a></li>
                <li><a href="footer-2.html">Footer dark - 2</a></li>
                <li><a href="footer-3.html">Footer dark - 3 </a></li>
                <li><a href="footer-light-1.html">Footer Light - 1</a></li>
                <li><a href="footer-light-2.html">Footer Light - 2</a></li>
                <li><a href="footer-light-3.html">Footer Light - 3 </a></li>
              </ul>
            </li> 
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Page Templates </a>
              <ul class="dropdown-menu">
                <li><a href="full-width.html">Full Width</a></li>                          
                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                <li><a href="right-sidebar.html">Right sidebar</a></li>
                <li><a href="both-sidebar.html">Both Sidebar</a></li>
                <li><a href="both-right-sidebar.html">Both Right sidebar</a></li>
                <li><a href="both-left-sidebar.html">Both Left Sidebar</a></li>
              </ul>
            </li> 
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Coming Soon </a>
              <ul class="dropdown-menu">
                <li><a href="coming-soon-1.html">Coming soon 1</a></li>                          
                <li><a href="coming-soon-2.html">Coming soon 2</a></li>
                <li><a href="coming-soon-3.html">Coming soon 3</a></li>
              </ul>
            </li> 
            <li><a href="side-nav.html">side navigation </a></li>
            <li><a href="maintenance-page.html">Maintenance page </a></li>
            <li><a href="blank.html">Blank Page</a></li>
            <li><a href="error.html">Error - 404</a></li>
            <li><a href="login-ragister.html">Login / Register</a></li>
            <li><a href="login-ragister-classic.html">Login / Register - Classic </a></li>
            <li><a href="invoice.html">Invoice</a></li>
            <li><a href="site-map.html">Site Map</a></li>
          </ul>
        </li><!--features-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">                
            <li><a href="shop-2col.html">2 columns sidebar</a></li>
            <li><a href="shop-3col.html">3 columns sidebar</a></li>
            <li><a href="shop-4col.html">4 columns full width</a></li>
            <li><a href="product-list.html">Product list</a></li>
            <li><a href="product-detail.html">Single product</a></li>
            <li><a href="cart.html">Shopping cart</a></li>                
            <li><a href="checkout.html">Checkout</a></li>
            <li><a href="shop-login.html">Login</a></li>
            <li><a href="shop-register.html">Register</a></li>

          </ul>
        </li> <!--menu Shop li end here-->
        <!--mega menu-->
        <li class="dropdown yamm-fw">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shortcodes  <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">

                  <div class="col-sm-3">
                    <h3 class="heading">Shortcode 1</h3>
                    <ul class="nav mega-vertical-nav">    

                      <li><a href="typography.html"><i class="fa fa-text-height"></i> Typography</a></li>
                      <li><a href="grid-system.html"><i class="fa fa-bars"></i> Grid System</a></li>
                      <li><a href="testimonials.html"><i class="fa fa-comment-o"></i> testimonials </a></li>
                      <li><a href="tabs-accordian.html"><i class="fa fa-table"></i> tabs &  Accordions </a></li>
                    </ul>

                  </div>
                  <div class="col-sm-3">
                    <h3 class="heading">Shortcode 2 </h3>
                    <ul class="nav mega-vertical-nav">
                      <li><a href="buttons.html"><i class="fa fa-cog"></i> Buttons</a></li>
                      <li><a href="social-buttons.html"><i class="fa fa-share"></i> Social Buttons</a></li>
                      <li><a href="alerts.html"><i class="fa fa-bell"></i> Alerts </a></li>
                      <li><a href="other-elements.html"><i class="fa fa-cogs"></i> Other Elements </a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h3 class="heading">Shortcode 3</h3>
                    <ul class="nav mega-vertical-nav">
                      <li><a href="font-awesome.html"><i class="fa fa-flag"></i> Font Awesome icons</a></li>                           
                      <li><a href="pe-icons.html"><i class="pe-7s-like"></i> Pe icons</a></li>   
                      <li><a href="carousel-shortcodes.html"><i class="fa fa-sliders"></i> Carousel Sliders </a></li>
                      <li><a href="tables.html"><i class="fa fa-table"></i> Tables </a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h3 class="heading">Shortcode 4</h3>
                    <ul class="nav mega-vertical-nav">
                      <li><a href="pricing-tables.html"><i class="fa fa-usd"></i> Pricing tables</a></li>                           
                      <li><a href="videos.html"><i class="fa fa-image"></i> Responsive videos</a></li>   
                      <li><a href="cta.html"><i class="fa fa-map-pin"></i> call to cations </a></li>
                      <li><a href="maps.html"><i class="fa fa-map-marker"></i> Google maps </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li> <!--menu Features li end here-->
        <!--mega menu end-->  
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--container-->
</div><!--navbar-default-->

<div class="breadcrumb-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>{% block breadcrumbs_title %}FIXME{% endblock %}</h4>
      </div>
      <div class="col-sm-6 hidden-xs text-right">
        <ol class="breadcrumb">
          {% block breadcrumbs %}
          <li><a href="{% url "static:landing" %}">Home</a></li>
          {% endblock %}
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="divide80"></div>

{% block container %}
<div class="container">
  {% block content %}{% endblock %}
</div>
{% endblock %}

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="footer-btm">
          <span>
            &copy; {% now "Y" %} Take Your Meds, Ltd. All rights reserved.
            <br>
            Take Your Meds, Ltd is a limited company registered in
            England and Wales with registration 9686492.
            <br>
            <a href="{% url "static:terms" %}">Terms and Conditions</a> &bull;
            <a href="{% url "static:privacy" %}">Privacy Policy</a>
          </span>
       </div>
    </div>
  </div>
</footer>

</div>

{% endblock %}

{% block body_old %}

<header class="site_header">
  <div class="container">
    <a href="{% url "static:landing" %}">
      <h2>Take Your Meds</h2>
    </a>

    <ul class="site_nav">
      <li><a href="{% url "static:about" %}">About</a></li>
      <li><a href="{% url "reminders:create" %}">New Reminder</a></li>
      <li><a href="{% url "reminders:index" %}">My Reminders</a></li>
      {% if request.user.is_authenticated %}
      <li><a href="{% url "account:logout" %}">Logout</a></li>
      {% else %}
      <li><a href="{% url "registration:view" %}">Register</a></li>
      <li><a href="{% url "account:login" %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</header>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<footer id="footer">
  footer

      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-6 margin30">
                  <div class="footer-col">
                      <h3>About assan</h3>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
                      </p>
                      <ul class="list-inline footer-social">
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                                  <i class="fa fa-facebook"></i>
                                  <i class="fa fa-facebook"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-twitter">
                                  <i class="fa fa-twitter"></i>
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-google-plus">
                                  <i class="fa fa-google-plus"></i>
                                  <i class="fa fa-google-plus"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-pinterest">
                                  <i class="fa fa-pinterest"></i>
                                  <i class="fa fa-pinterest"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-linkedin">
                                  <i class="fa fa-linkedin"></i>
                                  <i class="fa fa-linkedin"></i>
                              </a>
                          </li>
                      </ul>
                  </div>                        
              </div><!--footer col-->
              <div class="col-md-3 col-sm-6 margin30">
                  <div class="footer-col">
                      <h3>Contact</h3>

                      <ul class="list-unstyled contact">
                          <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> vaisahali, jaipur, 302012</p></li> 
                          <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">Support@designmylife.com</a></p></li>
                          <li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +91 1800 2345 2132</p></li>
                          <li> <p><strong><i class="fa fa-print"></i> Fax</strong> 1800 2345 2132</p></li>
                          <li> <p><strong><i class="fa fa-skype"></i> Skype</strong> assan.856</p></li>

                      </ul>
                  </div>                        
              </div><!--footer col-->
              <div class="col-md-3 col-sm-6 margin30">
                  <div class="footer-col">
                      <h3>Featured Work</h3>
                      <ul class="list-inline f2-work">
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-1.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-2.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-3.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-4.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-5.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-6.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-7.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-8.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-9.jpg" %}" class="img-responsive" alt=""></a></li>
                      </ul>
                  </div>                        
              </div><!--footer col-->
              <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                  <p>
                  </p>
                </div>                        
              </div>
          </div>

  <div class="container">
    <p>
      Copyright &copy; {% now "Y" %} Take Your Meds, Ltd.<br>
      Registered company number 9686492 in England and Wales.<br>
    </p>
    <p>
      Please read our
      <a href="{% url "static:terms" %}">Terms and Conditions</a> and
      <a href="{% url "static:privacy" %}">Privacy Policy</a>.
      {% if request.user.is_superuser %}
        <a href="{% url "static:admin" %}">Administration</a>.
      {% endif %}
    </p>
  </div>

</footer>

{% endblock %}
