{% extends "base/generic_base.html" %}

{% block body %}

<div class="top-bar-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-5 text-right">
        <ul class="list-inline top-dark-right">
          <li class="hidden-sm hidden-xs"><i class="fa fa-envelope"></i> {{ settings.DEFAULT_FROM_EMAIL }}</li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url "account:logout" %}"><i class="fa fa-lock"></i> Login</a></li>
          {% else %}
          <li><a href="{% url "registration:view" %}"><i class="fa fa-user"></i> Sign Up</a></li>
          <li><a href="{% url "account:login" %}"><i class="fa fa-lock"></i> Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url "static:landing" %}">
          {% comment  %}
          <img src="{% static "img/logo.png" %}" alt="ASSAN">
          {% endcomment %}
          TakeYourMeds
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="{% block navbar_active_about %}{% endblock %}"><a href="{% url "static:about" %}">About</a></li>
          <li class="{% block navbar_active_faq %}{% endblock %}"><a href="{% url "static:faq" %}">FAQs</a></li>
          <li class="{% block navbar_active_contact %}{% endblock %}"><a href="{% url "static:contact" %}">Contact</a></li>

          {% if request.user.is_authenticated %}
            <li><a href="{% url "account:logout" %}">Logout</a></li>
          {% else %}
            <li class="{% block navbar_active_register %}{% endblock %}"><a href="{% url "registration:view" %}">Register</a></li>
            <li class="{% block navbar_active_login %}{% endblock %}"><a href="{% url "account:login" %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="{% block breadcrumbs_classes %}breadcrumb-wrap{% endblock %}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        {% block breadcrumbs_header %}
        <h4>FIXME</h4>
        <p>FIXME</p>
        {% endblock %}</h4>
      </div>
      <div class="col-sm-6 hidden-xs text-right">
        <ol class="breadcrumb">
          {% block breadcrumbs %}
          <li><a href="{% url "static:landing" %}">Home</a></li>
          {% endblock %}
        </ol>
      </div>
    </div>
  </div>
</div>

{% block container %}
<div class="divide80"></div>

<div class="container">
  {% block content %}{% endblock %}
</div>
{% endblock %}

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="footer-btm">
          <span>
            &copy; {% now "Y" %} Take Your Meds, Ltd. All rights reserved.
            <br>
            Take Your Meds, Ltd is a limited company registered in
            England and Wales with registration 9686492.
            <br>
            <a href="{% url "static:terms" %}">Terms and Conditions</a> &bull;
            <a href="{% url "static:privacy" %}">Privacy Policy</a>
          </span>
       </div>
    </div>
  </div>
</footer>

</div>

{% endblock %}

{% block body_old %}

<header class="site_header">
  <div class="container">
    <a href="{% url "static:landing" %}">
      <h2>Take Your Meds</h2>
    </a>

    <ul class="site_nav">
      <li><a href="{% url "static:about" %}">About</a></li>
      <li><a href="{% url "reminders:create" %}">New Reminder</a></li>
      <li><a href="{% url "reminders:index" %}">My Reminders</a></li>
      {% if request.user.is_authenticated %}
      <li><a href="{% url "account:logout" %}">Logout</a></li>
      {% else %}
      <li><a href="{% url "registration:view" %}">Register</a></li>
      <li><a href="{% url "account:login" %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</header>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<footer id="footer">
  footer

      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-6 margin30">
                  <div class="footer-col">
                      <h3>About assan</h3>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
                      </p>
                      <ul class="list-inline footer-social">
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                                  <i class="fa fa-facebook"></i>
                                  <i class="fa fa-facebook"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-twitter">
                                  <i class="fa fa-twitter"></i>
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-google-plus">
                                  <i class="fa fa-google-plus"></i>
                                  <i class="fa fa-google-plus"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-pinterest">
                                  <i class="fa fa-pinterest"></i>
                                  <i class="fa fa-pinterest"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon si-dark si-gray-round si-colored-linkedin">
                                  <i class="fa fa-linkedin"></i>
                                  <i class="fa fa-linkedin"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div><!--footer col-->
              <div class="col-md-3 col-sm-6 margin30">
                  <div class="footer-col">
                      <h3>Contact</h3>

                      <ul class="list-unstyled contact">
                          <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> vaisahali, jaipur, 302012</p></li>
                          <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">Support@designmylife.com</a></p></li>
                          <li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +91 1800 2345 2132</p></li>
                          <li> <p><strong><i class="fa fa-print"></i> Fax</strong> 1800 2345 2132</p></li>
                          <li> <p><strong><i class="fa fa-skype"></i> Skype</strong> assan.856</p></li>

                      </ul>
                  </div>
              </div><!--footer col-->
              <div class="col-md-3 col-sm-6 margin30">
                  <div class="footer-col">
                      <h3>Featured Work</h3>
                      <ul class="list-inline f2-work">
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-1.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-2.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-3.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-4.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-5.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-6.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-7.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-8.jpg" %}" class="img-responsive" alt=""></a></li>
                          <li><a href="portfolio-single.html"><img src="{% static "img/img-9.jpg" %}" class="img-responsive" alt=""></a></li>
                      </ul>
                  </div>
              </div><!--footer col-->
              <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                  <p>
                  </p>
                </div>
              </div>
          </div>

  <div class="container">
    <p>
      Copyright &copy; {% now "Y" %} Take Your Meds, Ltd.<br>
      Registered company number 9686492 in England and Wales.<br>
    </p>
    <p>
      Please read our
      <a href="{% url "static:terms" %}">Terms and Conditions</a> and
      <a href="{% url "static:privacy" %}">Privacy Policy</a>.
      {% if request.user.is_superuser %}
        <a href="{% url "static:admin" %}">Administration</a>.
      {% endif %}
    </p>
  </div>

</footer>

{% endblock %}
