body {
	background: #1C3048;
}

.site_header { 
	background: #2975CD;
	color: #fff;
	padding: 0.75em 0;
}

.site_header h2 { 
	background: url('../img/logo.png') center left no-repeat;
	height: 46px;
	margin: 0;
	padding: 0;
	text-indent: -1000%;
}

.container { 
	margin: 0 auto;
	max-width: 720px;
	padding: 0 1em;
}

#content { 
	background: #fff;
	margin: 0 auto;
	padding-bottom: 3em;
}

#content .content_header {
	background: #E8EBEE;
	margin-bottom: 3em;
	padding: 2.5em 0.5em;
	text-align: center;
}

#content h1 {
	color: #373737;
	font-family: "Merriweather", Georgia, Times, serif;
	font-size: 1.875em;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 0 0 0.33em;
}

#content .content_header p {
	color: #6A6A6A;
	font-family: "Merriweather", Georgia, Times, serif;
	font-weight: 300;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 450px;
}

#content label, #content p.label {
	display: block;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 1.125em;
	font-weight: lighter;
	margin: 1.75em 0 0.5em;
}

#message-selector label {
	border: 1px solid #ccc;
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	line-height: 1.6;
	margin: 0;
	padding: 6px 12px;
	vertical-align: middle;
	width: 48.5%;
}

#message-selector label+label {
	margin-left: 2%;
}

@media screen and (max-width: 475px) {

	#message-selector label {
		margin-bottom: 0.5em;
		width: 100%;
	}

	#message-selector label+label {
		margin: 0 0 0.5em;
	}
}

#message-selector label input {
	cursor: inherit;
	margin-right: 0.2em;
	vertical-align: 1px
}

#message-selector label:hover {
	background: #E6E6E6;
	border-color: #b2b2b2;
}

#content select {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 1.125em;
	font-weight: lighter;
	height: 39px;
	padding: 9px 6px;
	width: 100%;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

#content #reminder-schedule {
	background: #f3f1eb;
	display: none;
	margin: 1em 0;
	max-width: 100%;
	padding: 1em 1.5em;
	width: 100%;
}

#content #reminder-schedule p {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 1.125em;
	line-height: 1.5;
	margin-top: 0;
}

#content #reminder-schedule ol {
	margin: 0;
	padding: 0;
}

#content #reminder-schedule select {
	width: 75%;
}

#content .reminder-time {
	list-style: none;
	margin: 0 0 0.5em;
	padding: 0;
}

#content .message-type {
	display: none;
}

#content input[type=text], #content input[type=number], #content textarea {
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 0.5em;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	width: 100%;
}

#content textarea {
	height: 8em;
}

#content .submit {
	background: #FF6132;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	margin: 3em 0 2em;
	padding: 1em 1.5em;
	text-transform: uppercase;
}

#content .submit:hover {
	background: #C93E15;
}

footer {
	background: #1C3048;
	padding: 2em;
}

footer p {
	color: #92A1B2;
}

.success-message {
	background: #FFE67A;
	border-radius: 6px;
	color: #000;
	display: none;
	padding: 0.5em 1.5em;
}

.box-sizing-border {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}