.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

body {
	background: #1C3048;
}

.site_header {
	background: #2975CD;
	color: #fff;
	padding: 0.75em 0;
}

.site_header h2 {
	background: url('../img/logo.png') center left no-repeat;
	height: 46px;
	margin: 0;
	padding: 0;
	text-indent: -1000%;
}

.site_header .site_nav {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.site_header .site_nav li {
	float: left;
	font-weight: lighter;
	font-size: 0.8em;
	margin: 1.2em 1em;
}

.site_header .site_nav li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.container {
	margin: 0 auto;
	max-width: 720px;
	padding: 0 1em;
}

#content {
	background: #fff;
	margin: 0 auto;
	padding-bottom: 3em;
}

#content .content_header {
	background: #E8EBEE;
	margin-bottom: 3em;
	padding: 2.5em 0.5em;
	text-align: center;
}

#content h1 {
	color: #373737;
	font-family: "Merriweather", Georgia, Times, serif;
	font-size: 1.875em;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 0;
}

#content .content_header p {
	color: #6A6A6A;
	font-family: "Merriweather", Georgia, Times, serif;
	font-weight: 300;
	line-height: 1.5;
	margin: 0.5em auto 0;
	max-width: 450px;
}

#content label, #content p.label {
	display: block;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 1.125em;
	font-weight: lighter;
	margin: 1.75em 0 0.5em;
}

#message-selector label {
	border: 1px solid #ccc;
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	line-height: 1.6;
	margin: 0;
	padding: 6px 12px;
	vertical-align: middle;
	width: 48.5%;
}

#message-selector label+label {
	margin-left: 2%;
}

@media screen and (max-width: 475px) {

	#message-selector label {
		margin-bottom: 0.5em;
		width: 100%;
	}

	#message-selector label+label {
		margin: 0 0 0.5em;
	}
}

#message-selector label input {
	cursor: inherit;
	margin-right: 0.2em;
	vertical-align: 1px
}

#message-selector label:hover {
	background: #E6E6E6;
	border-color: #b2b2b2;
}

#content select {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 1.125em;
	font-weight: lighter;
	height: 39px;
	padding: 9px 6px;
	width: 100%;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

#content #reminder-schedule {
	background: #f3f1eb;
	display: none;
	margin: 1em 0;
	max-width: 100%;
	padding: 1em 1.5em;
	width: 100%;
}

#content #reminder-schedule p {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 1.125em;
	line-height: 1.5;
	margin-top: 0;
}

#content #reminder-schedule ol {
	margin: 0;
	padding: 0;
}

#content #reminder-schedule select {
	width: 75%;
}

#content .reminder-time {
	list-style: none;
	margin: 0 0 0.5em;
	padding: 0;
}

#content .message-type {
	display: none;
}

#content input[type=text], #content input[type=number], #content textarea {
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 0.5em;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	width: 100%;
}

#content textarea {
	height: 8em;
}

#content .submit, #hero .submit {
	background: #DC2E2B;
	border: 0;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	margin: 4em 0 2em;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
}

#hero .submit {
	margin: 0;
}

#content .submit:hover, #hero .submit:hover {
	background: #A82522;
}

footer {
	background: #1C3048;
	padding: 2em;
}

footer p {
	color: #92A1B2;
}

footer .credit {
	margin-left: 2em;
	font-style: italic;
}

footer .credit a {
	color: #fff;
	text-decoration: underline;
}

.success-message {
	background: #FFE67A;
	border-radius: 6px;
	color: #000;
	display: none;
	padding: 0.5em 1.5em;
}

.box-sizing-border {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.home #content {
	background: #F5F5F5;
	padding: 4em 0;
}

.home .container, .about .container {
	max-width: 940px;
}

.home #hero {
	background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(240,241,209,1));
	background: -o-linear-gradient(rgba(255,255,255,1), rgba(240,241,209,1));
	background: -moz-linear-gradient(rgba(255,255,255,1), rgba(240,241,209,1));
	background: linear-gradient(rgba(255,255,255,1), rgba(240,241,209,1));
}

.home #hero .container {
	background: url('../img/clock.png') bottom left no-repeat;
	min-height: 273px;
	padding: 64px 2em 2em 200px;
}

.home #hero h1 {
	font-family: "Merriweather", Georgia, Times, serif;
	font-size: 1.875em;
	font-weight: 400;
	line-height: 1.4;
	margin: 0 0 0.5em;
}

.home #introduction {
	background: #fff;
	border-bottom: 1px solid #EEE;
	padding: 4em 0;
	text-align: center;
}

.home #introduction p {
	color: #4C4C4C;
	font-family: "Merriweather", Georgia, Times, serif;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 760px;
}

.home #content .selling-point {
	float: left;
	width: 33%;
}

.home #content h3 {
	font-family: "Merriweather", Georgia, Times, serif;
	font-size: 1.125em;
	font-weight: 400;
}

.home #content p, .about #content p {
	color: #6A6A6A;
	font-family: "Merriweather", Georgia, Times, serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.4;
}

.about #content p {
	color: #4C4C4C
}

.home #content .selling-point p {
	margin-right: 2.5em;
}

.home #content .selling-point h3 {
	margin-right: 1.5em;
}

@media screen and (max-width: 720px) {

	.home #hero .container {
		background: none;
		min-height: inherit;
		padding: 2em;
		text-align: center;
	}

	.home #content {
		padding: 2em 0;
	}

	.home #content .selling-point {
		float: none;
		width: auto;
	}
}

.about #content blockquote p {
	color: #DC2E2B;
	font-size: 1.5em;
}