<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<link href="./static/css/normalize.css" rel="stylesheet" media="screen" />
	<link href="./static/css/main.css" rel="stylesheet" media="screen" />
	<title>Pill Popper App</title>
	<script type="text/javascript" src="./static/js/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="./static/js/main.js"></script>
</head>
 
<body>

<script type="text/javascript">

	var post_url = "http://reminders.duckdns.org/";

</script>

<header class="site_header">

	<h2>PillTimer</h2>

</header>

<div id="content">
 
	<form action="" method="post" id="reminder-setup" name="reminder-setup">

	<div>

	<h1>Create a new medication reminder</h1>

	<div class="controls">
		
		<label for="frequency">How many times a day?</label>
		
		<select id="frequency" name="frequency">
			<option value="0" selected> Please select</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
		
		<div id="reminder-schedule">

			<p>The reminders will be sent at the following times:</p>
			
			<ol>
				<li id="reminder_template" class="reminder-time"><input type="text" name="time[1]" value="8:00am" readonly></li>
			</ol>

		</div>

		<label for="message">What's your message?</label>
		<textarea name="message" value=""></textarea>

		<label for="audio_url">Which audio message do you want to send?</label>

		<select id="audio_url" name="audio_url">
			<option value="http://servercode.co.uk/nhshackday/hi_mum_medication_reminder.mp3">Hi Mum!</option>
			<option value="http://servercode.co.uk/nhshackday/its_fiona_mouthwash_reminder.mp3">Dental Hygienist</option>
		</select>
		 
		<label for="phone_number">What phone number should we send them to?</label>
		<input type="text" name="phone_number" value="" />

	</div>

	<input value="Create my reminder" name="submit" type="submit" class="submit" />
	 
	</form>

</div>
 

</body>
</html>