Source: takeyourmeds
Section: python
Priority: extra
Maintainer: Chris lamb <chris@chris-lamb.co.uk>
Build-Depends: debhelper (>= 9),
               dh-systemd (>= 1.5),
               dh-virtualenv (>= 0.10),
               libpq-dev,
               libpython-dev,
               python
Standards-Version: 3.9.5

Package: takeyourmeds
Architecture: any
Pre-Depends: python2.7, ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: takeyourmeds
 takeyourmeds
