[Unit]
Description=takeyourmeds-celery
After=network.target

[Service]
User=www-data
Group=www-data
Restart=always

ExecStart=/usr/share/python/takeyourmeds/bin/manage.py celery worker

PrivateTmp=true
