[Unit]
Description=takeyourmeds-gunicorn
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=www-data
Group=www-data
Restart=always

ExecStart=/usr/share/python/takeyourmeds/bin/gunicorn --workers=8 --log-level=info --preload takeyourmeds.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=true
