[Unit]
Description=takeyourmeds-celery
After=network.target

[Service]
Type=forking
ExecStart=/usr/share/python/takeyourmeds-web/bin/manage.py celery worker
Restart=always
User=www-data
Group=www-data
