[Unit]
Description=takeyourmeds-celery
After=network.target

[Service]
User=www-data
Group=www-data
Restart=always

PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir /var/lib/takeyourmeds-celery
ExecStartPre=/usr/bin/chown -R www-data:www-data /var/lib/takeyourmeds-celery

ExecStart=/usr/share/python/takeyourmeds/bin/manage.py celery worker --beat --schedule=/var/lib/takeyourmeds-celery/schedule

PrivateTmp=true
