[Unit]
Description=takeyourmeds-celery
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=www-data
Group=www-data
Restart=always

PermissionsStartOnly=true
ExecStartPre=-/usr/bin/install -o www-data -g www-data -d /var/lib/takeyourmeds-celery

ExecStart=/usr/share/python/takeyourmeds/bin/manage.py celery worker --beat --schedule=/var/lib/takeyourmeds-celery/schedule --loglevel=info

PrivateTmp=true
