{% extends "base.html" %}

{% block extra_js %}
{% endblock %}


{% block content %}
<div id="content">

	<header class="content_header">

		<h1>About TakeYour<strong>Meds</strong></h1>
		<p>“...Increasing the effectiveness of adherence interventions may have a far greater impact on the heath of the population than any improvement in specific medical treatments...” -- WHO, 2013</p>
	</header>

<div class="introduction">
<p>Among patients with chronic illness, NICE estimate that 30%--50% do not take medication as prescribed. This is a particular problem for conditions such as asthma, diabetes, hypertension and depression, which are amongst the most prevalent medical conditions, particularly in older people. Not only is this dangerous for a patient, but the associated costs including unnecessary hospital admissions is estimated at at £4.0 billion per year.

<p>A large part of the problem is simple forgetfulness. Again, memory problems disproportionately affect the elderly, who are likely to be on more concurrent medications in the first place, making adherence to a prescription schedule even more difficult. It is estimated that the incidence of Alzheimer's disease is 10% in those over 65, 20% in those over 75 and a huge 33% in those over 85.

<p>Several useful smartphone apps exist to help patients remember to take their medication. However, while Ofcom etimate that about 88% of 16--24 year olds use smartphones, this number drops to 14% for those over 65 years old. On the other hand, 80% of people over 65 years old report that their preferred method of distance communication is the telephone.

<p>The Take Your Meds platform provides a straightforward low-cost reminder service that can be fully customised to help with any schedule of medication.

<p>At a preset time, a user will receive a phonecall playing a recorded message. The user can then use their telephone keypad to indicate that they have taken the medication, wish to be reminded again later, or wish to speak to a family member or friend for help. All parameters of the reminders, such as recorded message, the time interval for repeat calls, and the action to be taken if the patient cannot be reached, can be set up to suit the individual.

<p>The Take Your Meds platform aims to improve medication safety, which will prevent avoidable hospital admissions.

<p><em>Take Your Meds</em></p>
</d>


</div>

{% endblock%}
