{% extends "base/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block breadcrumbs_header %}
  <h4>My reminders</h4>
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>My reminders</li>
{% endblock %}

{% block container_header %}
  <div class="divide50"></div>
{% endblock %}

{% block content %}

<a
  href="{% url "reminders:create" %}"
  class="btn btn-theme-bg pull-right"
>Create a new reminder</a>

<h3>
  My reminders ({{ reminders.count }})
</h3>

{% for reminder in reminders %}

<div class="reminder clearfix">

  <div class="info-left box-sizing-border">

    <h3><span class="meta">Send to</span> {{ reminder.telnumber }} </h3>
    <form method="POST" action="{% url "reminders:trigger" reminder.pk %}" style="display: inline;">
      {% csrf_token %}
      <button type="submit">Test</button>
    </form>

    <form method="POST" action="{% url "reminders:delete" reminder.pk %}" style="display: inline;">
      {% csrf_token %}
      <button type="submit">Delete</button>
    </form>
  </div>

  <div class="info-right box-sizing-border">
    <span class="meta">Message</span>
    {% if reminder.message %}
      <p>{{ reminder.message }}</p>
    {% else %}
      <audio src="{{ reminder.audio_url }}" controls>
        Unfortunately your browser does not support the <code>audio</code> element.
      </audio>
    {% endif %}

    <p>
      <span class="meta">Timings</span>
      {% for time in reminder.times.all %}
      <span class="cron">{{ time.time }}</span>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </p>

  </div>


  </p>
</div>

{% empty %}

<div class="divide30"></div>

<p class="text-center">
  You have no reminders.
</p>

{% endfor %}

<div class="divide30"></div>

{% endblock %}
